// @import '../App.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  padding-top: 120px;
}

#root {
  overflow: hidden;
  display: block;
}

// ヘッダー
.header {
  height: 100px;
  flex-grow: 1;
}

/* ホーム画面 */


* {
  min-height:0;
  min-width : 0;
}

.flex {
  display: flex;
}

  .slick-prev:before,
  .slick-next:before {
     display:none;
  }

  .slider button{
    display: none;
}

.slick-dots {
  display: none;
}

.slider button{
  visibility: hidden;
}

div.slick-initialized div.slick-slide {
  display: flex;
  justify-content: center;
}

ul.slick-dots{
  width: 100%;
  height: 27px;
  position: initial;
}

.top_info {
  width: 50%;
  padding: 20px;
}

.reverse{
  flex-direction: row-reverse;
}

.top_title {
  font-weight: bold;
  font-size: 25px;
  padding:0px 10px;
  text-align: center;
}

.news_title {
  font-weight: bold;
  font-size: 28px;
}

.news_table {
  width: 100%;
}

table tbody tr td {
  border: solid;
  font-size: 15px;
  padding: 0px;
}

.link_img {
  width: 100%;
}

.link_logo a {
  margin: 15px;
}

.App {
  text-align: center;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
  padding: 2px;
}

.width50 a {
  margin: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Page styling */

h1 {
  font-weight: 300;
  font-size: 2.5em;
  margin: 5px;
}

h2{
  margin: 5px;
}
h3{
  margin: 5px;
}


body {
  // text-align: center;
  background: rgb(218, 145, 145);
  // padding: 1rem;
}

head {
  position: fixed
}

.button {
  background: yellow;
  display: inline-block;
  padding: 2rem 4rem;
  margin: 1rem;
  text-decoration: none;
  font: bold 1rem Sans-Serif;
  color: black;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  &:before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 10px;
    height: 10px;
    background: #222;
    border-radius: 50%;
    transition: 0.5s;

    // @mixin transition(0.7s);
  }
  span {
    position: relative;
  }
  &:hover, &:focus {
    color: white;
    &:before {
      width: 270px;
      height: 270px;
      opacity: 1;
    }
  }
}
.buttonx:nth-child(2) { 
  background: #3498db;
  &:before {
    bottom: auto;
    top: -40px;
  }
}
.buttonx:nth-child(3) { 
  background: #e74c3c;
  &:before {
    right: auto;
    left: -40px;
  }
}
.buttonx:nth-child(1) { 
  background: #f1c40f;
  &:before {
    right: auto;
    bottom: auto;
    left: -40px;
    top: -40px;
  }
}

.loginButton { 
  background: #9b59b6;
}
#murasaki{
  background: #9b59b6;
}
.button:nth-child(4) { 
  background: #1abc9c;
  &:before {
    right: auto;
    bottom: auto;
    left: 90px;
    top: -40px;
  }
  &:hover, &:focus {
    &:before {
      left: -50px;
    }
  }
}

.buttons {
  padding: 10px;
  text-align: center;
}

.buttonRight{
  padding: 10px;
  text-align: right;
}

.menuButton{
  border: solid white;
  border-radius: 50%;
}


@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
body {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==')}
* {box-sizing:border-box}
button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold}
button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
button:hover {color:#353535;background-color:#fff;border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}


.pink button {color:#eb1777;border-color:#eb1777}
.pink button:before, .pink button:after  {border-color:#eb1777}
.pink button:hover:before, .pink button:hover:after {border-color:#eb1777;}
.pink button:hover {color:#fff;background-color:#eb1777;border-color:#eb1777;}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}


.blue button {color:#3bb4e5;border-color:#3bb4e5}
.blue button:before, .blue button:after  {border-color:#3bb4e5}
.blue button:hover:before, .blue button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#3bb4e5;transform:rotateY(180deg)}
.blue button:hover {color:#3bb4e5;background-color:transparent;border-color:#3bb4e5}
.blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}

.borderless button {border-color:rgba(0,0,0,0);color:#999}
.borderless button:hover {border-color:#353535;background-color:transparent;color:#353535}
.borderless button:before, .borderless button:after {border-color:transparent;}
.borderless button:hover:before, .borderless button:hover:after {width:calc(100% + 12px); height:calc(100% + 12px);border-color:#353535}

.bw button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}
.bw button:before, .bw button:after  {border-color:#fff}
.bw button:hover:before, .bw button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535;}
.bw button:hover {color:#fff;background-color:#353535;border-color:#353535}
.blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}


// 試合結果・メンバー一覧
.resultBack{
  width:100%;
  padding-top:10px;
  text-align:center;
}
.memberBack{
  width:100%;
  padding-top:10px;
  text-align:center;
}
.wait_new {
  font-size: 27px;
}
.hedaerFont{
  font-size: 30px;
  line-height: 1em;
  font-weight: 200;
  margin: 0px;
  height: 50%;
  padding-top:10px;
}
.hedaerFont2{
  font-size: 20px;
  line-height: 1em;
  font-weight: 200;
  margin: 8px;
}
tr{
  font-size: 23px;
}
.imageSize{
  width: 400px;
  height: 300px;
}
.imageWidth{
  width:60%;
  margin: 3
}

.introduce{
  width:40%;
  text-align:center;
}

.memberInfo{
  display: flex; 
}
.resultMenu{
  width:50%;
  padding-left: 20px;
}
.resultInfo{
  left: 50%;
  padding:1%;
  position:fixed;
  width: 50%;
}
.resultDetail{
  display: flex;
  padding: 5px;
  height:40px;
}

.titleSize2 {
  margin: 25px;
  font-size: 20px;
  height: 60px;
}
.result_table {
  margin-left: 100px;
}

.paddingMin{
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

.photo_title {
  font-family: 'メイリオ', Meiryo,sans-serif;
  text-align: center;
}
.photo_size {
  width: 200px;
  height: 150px;
}
.photo_zone {
  text-align: center;
}
.photo_add {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-Width: 2;
  border-color: #666;
  border-style: solid;
  border-radius: 5;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

// フッター
.footer_flame {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #990033;
}

.footer_copy {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.member_flame {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  // padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}





@media (max-width: 1000px){
  .header {
    height: 70px;
  }
  .hedaerFont {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
  }
  .non_flex {
    flex-wrap: wrap;
 }

 .top_info {
   width: 100%;
 }
 .introduce{
  width:95%;
  text-align:center;
}
 .memberInfo{
  display: block!important; 
}
tr{
  font-size: 18px;
}
 

}












@media (max-width: 480px){
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    padding-top: 100px;
  }
  .hedaerFont{
    font-size: 1rem;
    line-height: 1em;
    font-weight: 200;
    margin: 8px;
  }
  .hedaerFont2{
    font-size: 0.8rem;
    line-height: 1em;
    font-weight: 200;
    margin: 8px;
  }
  
  .header {
    height: 70px;
  }

  .reverse{
    flex-direction: row;
  }

  .hedaerFont {
    font-size: 9px;
    font-weight: bold;
    margin: 0px;
  }

  .flex {
     flex-wrap: wrap;
  }

  .top_info {
    width: 100%;
  }

  .memberButton{
    width: 70px;
  }
  .memberBack ul {
    padding-left: 10px;
  }
  .wait_new {
    font-size: 13px;
  }
  tr{
    font-size: 16px;
  }
  .imageSize{
    width: 220px;
    height: 165px;
  }
  .imageWidth{
    width:100%;
    margin: 3
  }
  .introduce{
    width:95%;
    text-align:center;
  }
  .memberInfo{
    display: block!important; 
  }
  .titleSize{
    font-size: 13px;
  }
  .titleSize2{
    font-size: 13px;
    margin: 10px;
    height: 70px;
  }
  .resultMenu{
    width: 40%;
  }
  .resultInfo{
    left: 40%;
    padding:1%;
    position:fixed;
    width: 60%;
  }
  .commentSize{
    font-size: 10px;
  }
  .resultDetail{
    padding: 2px;
    height:20px;
  }
  .eventSize{
    font-size: 8px;
    font-weight: 300;
  }
  .paddingMin{
    text-align: center;
    list-style: none;
  }
  .title{
    font-size: 24px;
    font-weight: 600;
  }
  .introduce th {
    font-size: 15px;
  }
  .result_table {
    margin-left: 10px;
  }
  .result_table_inner {
    padding-left: 2px;
  }
  .result_font {
    font-size: 10px;
  }
  .result_table_title h3{
    font-size: 13px;
  }
  .event {
    padding: 2px;
    font-size: 12px;
  }
  .photo_title {
    font-size: 28px;
  }
  .photo_size {
    width: 160px;
    height: 120px;
  }
  .photo_add {
    width: 200px;
    height: 100px;
  }
  .footer_copy {
    font-size: 8px;
  }
}